{% include 'header.html' %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Masuk Kelas</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <h1>Upload File dari Kamera (Mobile Only)</h1>
            <input type="file" accept="image/*" capture="camera" id="cameraInput" style="display: none;">
            <button id="cameraButton">Buka Kamera</button>
            <img src="#" alt="Preview" id="preview" style="max-width: 300px; max-height: 300px;">
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

{% include 'footer.html' %}